# Project information
site_name: Behavior Generation Lecture Python
site_url:
site_author: Organizers of the lecture Decision-Making and Motion Planning for Automated Driving at KIT
site_description: >-
  Python Code for the Lecture Decision-Making and Motion Planning for Automated Driving at KIT

# Repository
repo_name: KIT-MRT/behavior_generation_lecture_python
repo_url: https://github.com/KIT-MRT/behavior_generation_lecture_python
edit_uri: ""

# Copyright
copyright: Copyright &copy; 2015 - present, Organizers of the lecture Decision-Making and Motion Planning for Automated Driving at KIT

# Configuration
theme:
  name: material

  # Static files
  static_templates:
    - 404.html

  font: false

  # Don't include MkDocs' JavaScript
  include_search_page: false
  search_index_only: true

markdown_extensions:
  - admonition
  - pymdownx.keys
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.snippets:
      check_paths: true

nav:
  - Home: index.md
  - Slides:
      - Software Engineering Intro: slides/software_intro.html
  - Code Examples for Lecture:
      - Compare Dynamic One Track Models: notebooks/compare_models_notebook.ipynb
      - Lateral Control (state-based): notebooks/lateral_control_state_based_notebook.ipynb
      - Lateral Control (Riccati): notebooks/lateral_control_riccati_notebook.ipynb
      - Graph Search: notebooks/a_star_notebook.ipynb
      - Decision Making: 
          - Value Iteration: notebooks/mdp_value_iteration.ipynb
          - Q-Learning: notebooks/mdp_q_learning.ipynb
          - Policy Gradient: notebooks/mdp_policy_gradient.ipynb
  - API Documentation (partial): reference/

plugins:
  - search
  - mkdocs-jupyter:
      include_source: True
      execute: True
  - mkdocstrings:
      handlers:
        python:
          rendering:
            show_if_no_docstring: true
            show_signature_annotations: true
  - gen-files:
      scripts:
        - docs/gen_ref_pages.py
  - literate-nav:
      nav_file: SUMMARY.md
  - section-index

# Catch warnings in CI
strict: true