numpy
matplotlib>=2.2.4
scipy
jupyter
black[jupyter]==22.3.0
pytest
pytest-cov>=3.0.0
python-statemachine
mkdocs-material
mkdocs-jupyter
mkdocstrings
mkdocs-gen-files
mkdocs-literate-nav
mkdocs-section-index
